# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - python compiled files
*.pyc


/results/*
!/results/.gitkeep
.vscode
.DS_Store
.idea
*.pyc
resources/sndbx.py